
@{
    ViewBag.Title = "Главная страница";

}
<h1>Вас приветсвует магазин брендовой одежды </h1><img src="logo.png" width="240" height="120" alt="">
<h3>Нас можно найти по адресу: г. Минск, улица Петруся Бровки, 4. </h3>
<h3>Мы вам всегда рады!</h3>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2349.7276818425926!2d27.591516615981377!3d53.91881483937706!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46dbcfa8e54f7607%3A0xde3256b6055cfe8!2z0YPQuy4g0J_QtdGC0YDRg9GB0Y8g0JHRgNC-0LLQutC4IDQsINCc0LjQvdGB0LogMjIwMDg5!5e0!3m2!1sru!2sby!4v1651297038850!5m2!1sru!2sby" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>


